@import './common.scss';

.form-item{
  position: relative;
  margin-bottom: 24px;
  background:#FFF;
  border-radius: 10px;
  border: 1px solid rgba(217,217,217,1);
  width: 368px;
  line-height: 1;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  display: block;
  input, select, .placeholder, .select-text{
    display: block;
    -webkit-appearance: none;
    background: transparent;
    background-image: none;
    font-family:PingFangSC-Regular,PingFang SC;
    color:#606266;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    height: 38px;
    padding: 11px 16px;
    font-size: 16px;
    line-height: 16px;
    box-sizing: border-box;
  }
  ::placeholder, .placeholder{
    color:rgba(0,0,0,0.25);
  }
  ::placeholder{
    line-height: 24px;
  }
  .placeholder, .select-text{
    position: absolute;
    left: 0;
    top: 0;
  }
  select{
    opacity: 0;
  }

  .tip-info{
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(227,87,17,1);
    visibility: hidden;
    padding-top: 2px;
    position: absolute;
    top: 100%;
    left: 16px;
  }
  .tip-dot{
    display: block;
    position: absolute;
    right: 0;
    top: -1px;
    width: 40px;
    height: 40px;
    background: url(../assets/icon/icon_wrong.png) center no-repeat;
    background-size: 80%;
    visibility: hidden;
  }
  &.error{
    .tip-info, .tip-dot{
      visibility: visible;
    }
  }
  &.success{
    .tip-dot{
      visibility: visible;
      background-image: url(../assets/icon/icon_right.png);
    }
  }
  &.verifycode{
    .tip-dot{
      right: 100px;
    }
  }
  &.select{
    .tip-dot{
      right: 20px;
    }
  }
  &.select{
    .icon-arrow{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 100%;
      background: url(../assets/icon/icon_arrow.png) center no-repeat;
      background-size: 80%;
    }
  }
  .verifycode-btn{
    background:rgba(34,14,219,1);
    border-radius: 10px;
    color: #FFF;
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 11px 16px;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    display: block;
  }
  &.btn{
    background:rgba(248,232,0,1);
    border: none;;
    color:rgba(34,14,219,1);
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    img{
      display: none;
      position: absolute;
      left: 20px;
      top: 10px;
    }
    &.disabled, &[disabled]{
      color: #fff;
      background:rgba(248,232,130,1);
      cursor: not-allowed;
      img{
        display: block;
      }
    }
  }
}
