.container{
  margin-left: 100px;
}
.mod{
  background: url(../assets/bg/home_1920.png) center right no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.mod-screen{
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mod-title{
  font-size: 48px;
  font-family:PingFang-SC-Heavy,PingFang-SC;
  font-weight: 800;
  color: #FFF;
  line-height: 63px;
  letter-spacing: 6px;
  margin: 20px 0;
}
.mod-subtitle{
  font-size: 34px;
  font-family: DINAlternate-Bold,DINAlternate;
  font-weight: bold;
  color: #FFF;
  line-height: 40px;
}
.mod-intro{
  font-size: 24px;
  line-height: 2;
  color: #FFF;
  font-weight: 700;
  font-family:PingFang-SC-Heavy,PingFang-SC;
}
.mod-dialog{
  height: 100vh;
  width: 80vw;
  background: #220EDB;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background:rgba(34,14,219, 1) url(../assets/bg/bg_logo_05.png) -80px center no-repeat;
  &::before{
    content: '';
    height: 100vh;
    width: 245px;
    position: absolute;
    right: -122px;
    top: 0;
    background: url(../assets/bg/bg_logo_04.png) 0 top no-repeat;
    background-size: contain;
  }
}
.mod-card{
  background:rgba(255,255,255,0.96);
  display: flex;
  width: 940px;
  margin-top: 60px;
  .item{
    flex: 1;
    text-align: center;
    padding: 95px 50px 66px;
    img{
      margin-bottom: 50px;
    }
    h3{
      font-size:18px;
      font-family:PingFang-SC-Bold,PingFang-SC;
      font-weight:bold;
      color:rgba(0,0,0,1);
      line-height:25px;
      letter-spacing:2px;
      margin: 0 0 18px;
    }
    p{
      font-size:14px;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(0,0,0,1);
      line-height:24px;
      letter-spacing:2px;
    }
  }
}
.mod-listcard{
  background:rgba(255,255,255,0.96);
  margin-top: 60px;
  padding: 0 60px;
  box-sizing: border-box;
  font-family:PingFangSC-Regular,PingFang SC;
  .items{
    display: inline-block;
  }
  .item{
    border-bottom: 1px solid rgba(134,130,130, 0.2);
    color: #000;
    display: flex;
    &:last-of-type{
      border-bottom: none;
    }
  }
  .item-title{
    font-size:20px;
    font-weight: bold;
    background: url(../assets/icon/icon_function.png) left 50px no-repeat;
    padding: 60px 0 10px 60px;
    flex: 0 0 240px;
  }
  .item-content{
    padding: 60px 0 60px 60px;
    flex: 0 0 440px;
    box-sizing: border-box;
    p{
      font-size: 14px;
      line-height: 24px;
    }
    a{
      font-size:12px;
      color: #220EDB;
      line-height:20px;
      display: inline-block;
      background: url(../assets/icon/icon_advantage.png) left top no-repeat;
      background-size: 20px;
      padding-left: 28px;
      text-decoration: none;
      margin-left: 60px;
      margin-top: 18px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.loader-wrp{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .box{
    width: 40px;
    height: 40px;
    position: relative;
  }
  .loader {
    border: .2em solid transparent;
    border-left-color: currentcolor;
    border-right-color: currentcolor;
    border-radius: 50%;
    animation: 1s loader linear infinite;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
    position: absolute;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}