@import './mixin';
@include respond-to(mobile) {
  .mod-title{
    font-size: 24px;
    line-height: 32px;
    margin: 10px;
    text-align: center;
  }
  .mod-subtitle{
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
  .mod-intro{
    text-align: center;
  }
  .mod-screen{
    padding: 45px 20px;
  }
  .form-item{
    position: relative;
    width: 300px;
  }
}
